@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(24, 24, 27);
    --primary: rgb(24, 24, 27);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(250, 250, 250);
    --secondary-foreground: rgb(24, 24, 27);
    --tertiary: rgb(107, 33, 168);
    --tertiary-foreground: rgb(255, 255, 255);
    --accent: rgb(244, 244, 245);
    --accent-foreground: rgb(82, 82, 91);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(228, 228, 231);
  }
}
