@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(24, 24, 27);
    --primary: rgb(24, 24, 27);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(250, 250, 250);
    --secondary-foreground: rgb(24, 24, 27);
    --tertiary: rgb(107, 33, 168);
    --tertiary-foreground: rgb(255, 255, 255);
    --accent: rgb(250, 250, 250);
    --accent-foreground: rgb(82, 82, 91);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(228, 228, 231);
  }

  .dark {
    --background: rgb(2, 6, 23);
    --foreground: rgb(255, 255, 255);
    --primary: rgb(15 23 42);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(2, 6, 23);
    --secondary-foreground: rgb(255, 255, 255);
    --tertiary: rgb(59 7 100);
    --tertiary-foreground: rgb(255, 255, 255);
    --accent: rgb(10 10 10);
    --accent-foreground: rgb(209 213 219);
    --destructive: rgb(255, 255, 255);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(50, 50, 59);
  }
}
